.catego {
    display: grid;
    grid-template-columns: 54vw 14vw;
    grid-column-gap: 10vw;
    font-size: 150%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#SixCate {
    display: grid;
    grid-template-columns: 9vw 9vw 9vw 9vw 9vw 9vw;
    text-align: center;
}
#interact {
    display: grid;
    grid-template-columns: 8vw 8vw;
}
#Culture, #Manga, #Movie, #Music, #Travel, #Education {
    border: 1px solid #CD853F;
    background-color:#eae0db;
}
a:visited, a:link {
    color: black;
}
#blog, #QuestionAnswer {
    border: 1px solid #CD853F;
    background-color: #eae0db;
}
#Logo {
    position: relative;
    padding-top: 30%;
    margin-top: 30%;
}
#head {
    display: grid;
    grid-template-rows: 30vh;
    grid-template-columns: 15% 60% 15% 5%;
    grid-column-gap: 2vw;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 37vh;
    /*background-color: #F5F5DC;*/
}
#SocialApp {
    display: flex;
    margin: 20%;
}
#SocialApp {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10%;
}
#search {
    font-size: 30px;
    margin: 30%;
}
/*#gate {margin: 10%;}*/
#OutstandingTopic {
    padding-left: 10%;
    padding-right: 10%;
}
