#Header, body {
    background-color: #efffe9;
}
#Header{
    position: relative;
    background-color: #efffe9;
}
/* Good way here */
@font-face {
    font-family: TheSixNatures;
    src: url(FontDownload/3Dumb.ttf);
}
#text {
    color: #d1ef9f;
    font-family: TheSixNatures;
    text-transform: uppercase;
}
@font-face {
    font-family: Category;
    src: url(FontDownload/Aaargh.ttf);
}
#CateName {
    font-family: Category;
    font-weight: bold;
}
@font-face {
    font-family: Article;
    src: url(FontDownload/BonvenoCF.otf);
}
/*Social Media Effect*/
#SocMed > #facebook:hover {color: #0041ce!important; background-color: #d1ef9f!important;}
#SocMed > #twitter:hover {color: #2df8ff; background-color: #d1ef9f;}
#SocMed > #instagram:hover {color: #e5143a; background-color: #d1ef9f;}
#SocMed > #search:hover {background-color: #d1ef9f;}
#SocMedia {color: black;}
/* cate effect */
#cate > a:link, a:visited, a:active {color: black;}
#category > a:hover {color: #7cc400;}
#CateLink {color: black;}
#cate {
    background-color:  #d1ef9f;
    font-family: Category;
    font-weight: bold;
}
/* Title Article */
#CateName{text-align: center;text-transform: uppercase;}

/*Large PC 1000px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) {
    /* Header */
    #Header {height: 154px;}
    /*Display compatible navigation bar*/
    #NavSmall {
        display: none;
        padding-top: 1vh;
    }
    #NavLarge {
        display: block;
        padding-top: 15px;
    }
    #cate {font-size: 150%;}
    .navbar {
        height: 80px;
    }
    /* padding for objects */
    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    /* Social Media CSS */
    .fa {
        font-size: 160%;
    }
    /* Edit the picture and "The Sixnatures" word of header */
    #PicHead {
        opacity: 1;
        padding-left: 0%;
        padding-right: 0%;
        object-fit: cover;   /* CSS keyword for IMAGES */
        height: 650px;
    }
    #text {
        position: absolute;
        font-size: 620%;
        line-height: 100px;
        padding-left: 12vw;
        top: 320px;
        font-weight: bold;
    }
    /* card edit */
    #CulCard {height: 550px;}
    #CulImg {height: 43%;}
    #CulTitle {font-family: Article;font-size: 150%;text-align: center;text-transform: uppercase;}
    .card-body > a:link, a :visited {color: black;}
    /* Manga & Anime Content */
    #MangaSlide {height: 600px;}
    /* Education content */
    #BriefEdu {position: relative;}
    #BriefEdu #EduArticle {padding-top: 20%; font-weight: bold; text-transform: uppercase; font-size: 180%; font-family: Article;}
    /* Style Content */
    #ContentStyle {position: absolute;}  
    #StyleCate {background-color: #d1ef9f;}
    #BriefStyle {background-color: #7cc400;}
    #StyleArt {padding: 17% 20% 0% 25%;}
    #BriefStyle, #ImageStyle {padding: 0 0 0 0;} 
    #StyleArticle {font-weight: bold; text-transform: uppercase; font-size: 200%; font-family: Article;}
    /* Movie Content */
    #MoviesCate {background-color: #efffe9;}
    #MovieImg {height: 450px;}
    #MovieHead {color: white; font-size: 250%;}
    #MoviePara {color: white; font-size: 150%;}
    /* Music Content */
    #MusicCate {background-color: #d1ef9f;}
    #MusicImg {height: 600px; object-fit: cover; opacity: 0.5;}
    /* Advertisement */
    #Advertisement {height: 220px;}
    /* Footer */
    #Footer {background-color: #0f4200; font-family: 'Times New Roman', Times, serif; height: 130px; position: relative; line-height: 25px;}
    #word {color: white; font-size: 140%;}
    #word1 {color: white; font-size: 150%; padding-top: 25px;}
}

/* Large tablet 992px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 960px) and (min-width: 769px) {
    /* Header */
    #Header {height: 154px;}
    /*Display compatible navigation bar*/
    #NavSmall {
        display: none;
        padding-top: 1vh;
    }
    #NavLarge {
        display: block;
        padding-top: 23px;
    }
    #cate {font-size: 100%;}
    .navbar {
        height: 80px;
    }
    /* Social Media CSS */
    .fa {
        font-size: 150%;
    }
    /* padding for objects */
    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    /* Edit the picture and "The Sixnatures" word of header */
    #PicHead {
        opacity: 1;
        padding-left: 0%;
        padding-right: 0%;
        object-fit: cover;   /* CSS keyword for IMAGES */
        height: 450px;
    }
    #text {
        position: absolute;
        font-size: 450%;
        line-height: 100px;
        padding-left: 12vw;
        top: 300px;
        font-weight: bold;
    }
    /* card edit */
    .card {height: 500px;}
    #CulImg {height: 50%;}
    #CulTitle {font-family: Article;font-size: 120%;text-align: center;text-transform: uppercase;}
    .card-body > a:link {color: black;}
    /* Manga & Anime Content */
    #MangaSlide {height: 500px;}
    /* Education content */
    #EduPic {height: 200px;}
    #Education {background-color: #7cc400;}
    #BriefEdu {position: relative;}
    #BriefEdu #EduArticle {padding-top: 3%; font-weight: bold; text-transform: uppercase; font-size: 150%; font-family: Article;}
    #EduArticle {font-size: 180%;}
    /* Style Content */
    #ContentStyle {position: absolute;} 
    #StyleCate {background-color: #d1ef9f;}
    #BriefStyle {background-color: #7cc400;}
    #StyleArt {padding: 15% 20% 0% 25%;}
    #BriefStyle, #ImageStyle {padding: 0 0 0 0;}
    #StyleArticle {font-weight: bold; text-transform: uppercase; font-size: 200%; font-family: Article;}
    /* Movie Content */
    #MoviesCate {background-color: #efffe9;}
    #MovieImg {height: 400px;}
    #MovieHead {color: white; font-size: 200%;}
    #MoviePara {color: white; font-size: 100%;}
    /* Music Content */
    #MusicCate {background-color: #d1ef9f;}
    #MusicImg {height: 500px;}
    /* Advertisement */
    #Advertisement {height: 150px;}
    /* Footer */
    #Footer {background-color: #0f4200; height: 120px; line-height: 20px;}
    #word1 {color: white; font-size: 140%; padding-top: 30px;}
    #word {color: white; font-size: 130%;}
}

/*medium tablet 768px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) and (min-width: 576px) {
    /*Things in the header */
    #Logo {width: 139px; height: 100px;}
    #Header {height: 100px;}
    /*Display compatible navigation bar*/
    #NavSmall {
        display: none;
        padding-top: 1vh;
    }
    #NavLarge {
        display: block;
        padding-top: 15px;
    }
    #cate {font-size: 80%;}
    .navbar {
        height: 60px;
    }
    /* Social Media CSS */
    .fa {
        font-size: 130%;
    }
    /* padding for objects */
    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    /* Edit the picture and "The Sixnatures" word of header */
    #PicHead {
        opacity: 1;
        padding-left: 0%;
        padding-right: 0%;
        object-fit: cover;   /* CSS keyword for IMAGES */
        height: 350px;
    }
    #text {
        position: absolute;
        font-size: 300%;
        line-height: 50px;
        padding-left: 12vw;
        top: 230px;
        font-weight: bold;
    }
    /* card edit */
    .card {height: 400px;}
    #CulImg {height: 51%;}
    #CulTitle {font-family: Article;font-size: 100%;text-align: center;text-transform: uppercase;}
    #CulText {font-size: 80%;}
    .card-body > a:link {color: black;}
    /* Manga & Anime Content */
    #MangaSlide {height: 500px;}
    /* Education content */
    #EduPic {height: 200px;}
    #Education {background-color: #7cc400;}
    #BriefEdu {position: relative;}
    #EduArticle {padding-top: 2%; text-align: center;font-weight: bold; text-transform: uppercase; font-size: 190%; font-family: Article;}
    #EduIntro {font-size: 130%;}
    /* Style Content */
    #StyleCate {background-color: #d1ef9f;}
    #StyleIntro {font-size: 120%;}
    #ImageStyle {height: 300px;}
    #BriefStyle {background-color: #7cc400; height: 300px;}
    #StyleArticle {font-weight: bold; text-transform: uppercase; font-size: 200%; font-family: Article;text-align: center;}
    /* Movie Content */
    #MoviesCate {background-color: #efffe9;}
    #MovieImg {height: 450px;}
    #MovieHead {color: white; font-size: 200%;}
    #MoviePara {color: white; font-size: 100%;}
    /* Music Content */
    #MusicCate {background-color: #d1ef9f;}
    #MusicImg {height: 500px;}
    /* Advertisement */
    #Advertisement {height: 150px;}
    /* Footer */
    #Footer {background-color: #0f4200; height: 120px; line-height: 20px;}
    #word1 {color: white; font-size: 120%; padding-top: 25px;}
    #word {color: white; font-size: 100%;}
}

/* Small device 575px --------------------------------------------------------------------------------------*/
@media only screen and (max-width: 575px) {
    /*Things in the header */
    #Logo {width: 111px; height: 80px;}
    #Header {height: 100px;}
    /*Display compatible navigation bar*/
    #NavSmall {
        display: block;
        padding-top: 1vh;
    }
    #NavLarge {
        display: none;
        padding-top: 1vh;
    }
    .navbar {
        height: 60px;
    }
    .dropdown-menu > a:hover {color: #7cc400; background-color: pink;}
    .dropdown-toggle {background-color: #7cc400;}
    #NAV {font-size: 150%; font-family: Category;}
    /* Social Media CSS */
    .fa {
        font-size: 100%;
    }
    /* Edit the picture and "The Sixnatures" word of header */
    #PicHead {
        opacity: 1;
        padding-left: 0%;
        padding-right: 0%;
        object-fit: cover;   /* CSS keyword for IMAGES */
        height: 250px;
    }
    #text {
        position: absolute;
        font-size: 220%;
        line-height: 30px;
        padding-left: 12vw;
        top: 200px;
        font-weight: bold;
    }
    /* card edit */
    .card {height: 400px;}
    #CulImg {height: 60%;}
    #CulTitle {font-family: Article;font-size: 120%;text-align: center;text-transform: uppercase;}
    #CulText {font-size: 80%;}
    .card-body > a:link {color: black;}
    /* Manga & Anime Content */
    #MangaSlide {height: 500px;}
    /* Education content */
    #Education {background-color: #7cc400;}
    #EduPic {height: 200px;}
    #BriefEdu {position: relative;}
    #EduArticle {padding-top: 2%; text-align: center;font-weight: bold; text-transform: uppercase; font-size: 190%; font-family: Article;}
    #EduIntro {font-size: 130%;}
    /* Style Content */
    #StyleCate {background-color:  #d1ef9f;}
    #BriefStyle {background-color: #7cc400; height: 200px;}
    #StyleIntro {font-size: 100%;}
    #ImageStyle {height: 250px;}
    #StyleArticle {font-weight: bold; text-transform: uppercase; font-size: 150%; font-family: Article;}
    /* Movie Content */
    #MoviesCate {background-color: #efffe9;}
    #MovieImg {height: 350px;}
    #MovieHead {color: white; font-size: 200%;}
    #MoviePara {color: white; font-size: 100%;}
    /* Music Content */
    #MusicCate {background-color: #d1ef9f;}
    #MusicImg {height: 500px;}
    /* Advertisement */
    #Advertisement {height: 150px;}
    /* Footer */
    #Footer {background-color: #0f4200; height: 100px; line-height: 15px;}
    #word1 {color: white; font-size: 110%; padding-top: 25px;}
    #word {color: white; font-size: 90%;}
}

/*Supplement */
#CultureCate {background-color: #d1ef9f;}
#MangaCate {background-color: #efffe9;}
.card-body {
    text-align: center;
    line-height: 200%;
}
.carousel-caption {
    color: white;
    opacity: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
}
