#Logo, body {
    background-color: #efffe9;
}

@media only screen and (min-width: 960px) {
    #NavSmall {
        display: none;
        padding-top: 2vh;
    }
    #NavLarge {
        display: block;
        padding-top: 2vh;
    }
    #Introduction {
        background-image: url(MainIndexPic/HeadPic/Intro.png);
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: 100% 100%;
        display: grid;
        grid-template-rows: 88vh;
    }
    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #text {
        font-size: 900%;
        padding-left: 12vw;
        padding-top: 12vh;
    }
}

@media only screen and (max-width: 960px) {
    #NavSmall {
        display: none;
        padding-top: 2vh;
    }
    #NavLarge {
        display: block;
        padding-top: 2vh;
    }
    #Introduction {
        background-image: url(MainIndexPic/HeadPic/Intro.png);
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: 100% 100%;
        display: grid;
        grid-template-rows: 88vh;
    }
    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #text {
        font-size: 900%;
        padding-left: 12vw;
        padding-top: 12vh;
    }
}

@media only screen and (max-width: 600px) {
    #NavSmall {
        display: block;
        padding-top: 2vh;
    }
    #NavLarge {
        display: none;
        padding-top: 2vh;
    }
    #Introduction {
        background-image: url(MainIndexPic/HeadPic/IntroMobile.png);
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: 100% 100%;
        display: grid;
        grid-template-rows: 40vh;
    }
    #text {
        font-size: 400%;
        padding-left: 12vw;
        padding-top: 12vh;
    }
}
@font-face {
    font-family: TheSixNatures;
    src: url(FontDownload/Assistant-Bold.otf);
}
#text {
    color: #d1ef9f;
    font-family: TheSixNatures;
    text-transform: uppercase;
    font-weight: bold;
}
@font-face {
    font-family: Category;
    src: url(FontDownload/Aaargh.ttf);
}
#small-text{
    color:  #d1ef9f;
    font-size: 600%;
    display: block;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
#cate {
    background-color:  #d1ef9f;
    font-size: 250%;
    font-family: Category;
    font-weight: bold;
    color: black;
}
#cate > a:link, a:visited {color: black;}
#cate > a:hover, a:active {
    color: #7cc400;
}
.navbar-nav2 {list-style-type: none;}
#CultureCate {background-color: #d1ef9f;}
#MangaCate {background-color: #efffe9;}
.card-body {
    text-align: center;
    line-height: 200%;
}
.card-title {
    font-size: 400%;
    text-align: center;
    text-transform: uppercase;
}
#CateName{
    text-align: center;
    text-transform: uppercase;
}
.carousel-caption {
    color: white;
    opacity: 1.0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
}
