/* Good way here */
@font-face {
    font-family: TheSixNatures;
    src: url(../../../FontDownload/3Dumb.ttf);
}
#text {
    color: #d1ef9f;
    font-family: TheSixNatures;
    text-transform: uppercase;
}
@font-face {
    font-family: Category;
    src: url(../../../FontDownload/Aaargh.ttf);
}
#CateName {
    font-family: Category;
    font-weight: bold;
}
@font-face {
    font-family: Article;
    src: url(../../../FontDownload/BonvenoCF.otf);
}
#Header{
    position: relative;
    background-color: #efffe9;
}
.navbar {
    height: 50px;
}
/* cate effect */
#cate > a:link, a:visited {color: black;}
#category > a:hover {color: #7cc400;}
#cate {
    background-color:  #d1ef9f;
    font-size: 250%;
    font-family: Category;
    font-weight: bold;
    color: black;
}
/*The Six Natures */
#text {font-family: TheSixNatures; text-align: center;}

/*Large tablet 992px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) {
/* The Six Natures edit */
#text {display: block; margin: auto; padding-left: 20vw; padding-top: 3vh; display: flex; align-self: baseline; font-size: 400%;font-family: TheSixNatures; font-weight: bold;}
#LoName {display: flex; flex-direction: row;}
/*Display compatible navigation bar*/
#NavSmall {
    display: none;
    padding-top: 1vh;
}
#NavLarge {
    display: block;
    padding-top: 1vh;
}
/* padding for objects */
.container-fluid {
    padding-left: 5vw;
    padding-right: 5vw;
}
/* Social Media CSS */
.fa {
    font-size: 250%;
}
.nav {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(0, -50%);
}
#facebook > a:hover {color: #0041ce; background-color: #d1ef9f;}
#twitter > a:hover {color: #2df8ff; background-color: #d1ef9f;}
#instagram > a:hover {color: #e5143a; background-color: #d1ef9f;}
/* Paragraph for the content */
#Info {font-size: 180%;}
#titleHead {font-size: 220%;}
#view {font-size: 150%;}

/* Footer */
#Footer {background-color: #0f4200; font-family: 'Times New Roman', Times, serif; height: 130px; position: relative;}
#word {color: white; font-size: 220%;}
#word1 {color: white; font-size: 200%; padding-top: 25px;}
}

/* Large tablet 992px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 960px) and (min-width: 769px) {
    /*Display compatible navigation bar*/
    #NavSmall {
        display: none;
        padding-top: 1vh;
    }
    #NavLarge {
        display: block;
        padding-top: 1vh;
    }
    /* The Six Natures edit */
    #text {display: block; margin: auto; padding-left: 15vw; padding-top: 5vh; display: flex; align-self: baseline; font-size: 250%;font-family: TheSixNatures; font-weight: bold;}
    #LoName {display: flex; flex-direction: row;}
    /* Social Media CSS */
    .fa {
        font-size: 200%;
    }
    .nav {
        margin: 0;
        position: absolute;
        top: 40%;
        left: 80%;
        transform: translate(0, -50%);
    }
    #facebook > a:hover {color: #0041ce; background-color: #d1ef9f;}
    #twitter > a:hover {color: #2df8ff; background-color: #d1ef9f;}
    #instagram > a:hover {color: #e5143a; background-color: #d1ef9f;}

    /* Paragraph for the content */
#Info {font-size: 180%;}
#titleHead {font-size: 220%;}
#view {font-size: 150%;}

    /* Footer */
    #Footer {background-color: #0f4200; height: 100px;}
    #word1 {color: white; font-size: 150%; padding-top: 3%;}
    #word {color: white; font-size: 150%;}
}

/*medium tablet 768px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) and (min-width: 576px) {
    /*Things in the header */
    #Logo {width: 139px; height: 100px;}
    /*Display compatible navigation bar*/
    #NavSmall {
        display: block;
        padding-top: 1vh;
    }
    #NavLarge {
        display: none;
        padding-top: 1vh;
    }
    /* Social Media CSS */
    .fa {
        font-size: 200%;
    }
    .nav {
        margin: 0;
        position: absolute;
        top: 40%;
        left: 70%;
        transform: translate(0, -50%);
    }
    #facebook > a:hover {color: #0041ce; background-color: #d1ef9f;}
    #twitter > a:hover {color: #2df8ff; background-color: #d1ef9f;}
    #instagram > a:hover {color: #e5143a; background-color: #d1ef9f;}

    /* Paragraph for the content */
#Info {font-size: 180%;}
#titleHead {font-size: 220%;}
#view {font-size: 150%;}

     /* Footer */
     #Footer {background-color: #0f4200; height: 100px;}
     #word1 {color: white; font-size: 150%; padding-top: 3%;}
     #word {color: white; font-size: 150%;}
}

/* Small device 575px --------------------------------------------------------------------------------------*/
@media only screen and (max-width: 575px) {
    /*Things in the header */
    #Logo {width: 111px; height: 80px;}
    /*Display compatible navigation bar*/
    #NavSmall {
        display: block;
        padding-top: 1vh;
    }
    #NavLarge {
        display: none;
        padding-top: 1vh;
    }
    .dropdown-menu > a:hover {color: #7cc400; background-color: pink;}
    .dropdown-toggle {background-color: #7cc400;}
    #NAV {font-size: 150%; font-family: Category;}
    /* Social Media CSS */
    .fa {
        font-size: 150%;
    }
    .nav {
        margin: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(0, -50%);
    }
    #facebook > a:hover {color: #0041ce; background-color: #d1ef9f;}
    #twitter > a:hover {color: #2df8ff; background-color: #d1ef9f;}
    #instagram > a:hover {color: #e5143a; background-color: #d1ef9f;}

    /* Paragraph for the content */
#Info {font-size: 180%;}
#titleHead {font-size: 220%;}
#view {font-size: 150%;}

     /* Footer */
     #Footer {background-color: #0f4200; height: 100px;}
     #word1 {color: white; font-size: 150%; padding-top: 3%;}
     #word {color: white; font-size: 150%;}
 }