/* Good way here */
@font-face {
    font-family: TheSixNatures;
    src: url(../../../../FontDownload/3Dumb.ttf);
}
#text {
    color: #d1ef9f;
    font-family: TheSixNatures;
    text-transform: uppercase;
}
@font-face {
    font-family: Category;
    src: url(../../../../FontDownload/Aaargh.ttf);
}
#CateName {
    font-family: Category;
    font-weight: bold;
}
@font-face {
    font-family: Article;
    src: url(../../../../FontDownload/BonvenoCF.otf);
}
#Header{
    position: relative;
    background-color: #efffe9;
}
.navbar {
    height: 50px;
}
#post {font-size: 70%;}
/*Social Media Effect*/
#SocMed  {display: flex;flex-direction: row;}
#facebook > #SocMedia:hover {color: #0041ce;}
#twitter> #SocMedia:hover {color: #2df8ff;}
#instagram > #SocMedia:hover {color: #e5143a;}
#SocMedia {color: black;}
/* cate effect */
#cate > a:link, a:visited, a:active {color: black;}
#category > a:hover {color: #7cc400;}
#CateLink {color: black;}
#cate {
    background-color:  #d1ef9f;
    font-size: 250%;
    font-family: Category;
    font-weight: bold;
    color: black;
}
/*The Six Natures */
#text {font-family: TheSixNatures; text-align: center;}

/*Large tablet 992px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) {
    /* Header */
    #Header {height: 108px;}
    .pad {padding-left: 4vw;}
    .small {display: none;}
/* Font for all */
.col-lg-8 {line-height: 35px; font-size: 150%;}
/* Main Head for Section */
.lead {font-weight: bold; text-align: center; font-size: 168%;}
.mt-4 {font-weight: bold; font-size: 196%;}
#suggested {font-weight: bold;}
 /*Display compatible navigation bar*/
 #NavSmall {
    display: none;
    padding-top: 1vh;
}
#NavLarge {
    display: block;
    padding-top: 15px;
}
#cate {font-size: 150%;}
.navbar {
    height: 80px;
}
/* padding for objects */
.container-fluid {
    padding-left: 5vw;
    padding-right: 5vw;
}
/* Social Media CSS */
.fa {
    font-size: 112%;
}
/*Paragraph in the content*/
#cont {font-size: 84%; line-height: 35px;}

/* Footer */
#Footer {background-color: #0f4200; font-family: 'Times New Roman', Times, serif; height: 130px; position: relative; line-height: 25px;}
#word {color: white; font-size: 130%;}
#word1 {color: white; font-size: 125%; padding-top: 25px;}
}

    /*Medium tablet 768-960px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 960px) and (min-width: 769px) {
    /* Font for all */
    .col-lg-8 {line-height: 35px; font-size: 150%;}
    /*Things in the header */
    #Logo {width: 97px; height: 70px;}
    .pad {padding-left: 4vw;}
    #Header {height: 70px;}
    .small {display: none;}
    /* Main Head for Section */
    .lead {font-weight: bold; text-align: center; font-size: 168%;}
    .mt-4 {font-weight: bold; font-size: 196%;}
    #suggested {font-weight: bold;}
     /*Display compatible navigation bar*/
     #NavSmall {
        display: none;
        padding-top: 1vh;
    }
    #NavLarge {
        display: block;
        padding-top: 23px;
    }
    #cate {font-size: 100%;}
    .navbar {
        height: 80px;
    }
    /* padding for objects */
    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    /* Social Media CSS */
    .fa {
        font-size: 91%;
    }
    /*Paragraph in the content*/
    #cont {font-size: 84%; line-height: 35px;}
    
    /* Footer */
    #Footer {background-color: #0f4200; height: 120px; line-height: 20px;}
    #word1 {color: white; font-size: 125%; padding-top: 30px;}
    #word {color: white; font-size: 130%;}
    }

    /*Small tablet 576-578px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) and (min-width: 576px) {
    /* Font for all */
    .col-lg-8 {line-height: 35px; font-size: 150%;}
    /*Header Logo */
    #Logo {width: 97px; height: 70px;}
    .pad {padding-left: 4vw;}
    #Header {height: 70px;}
    .small {display: none;}
    /* Main Head for Section */
    .lead {font-weight: bold; text-align: center; font-size: 168%;}
    .mt-4 {font-weight: bold; font-size: 196%;}
    #suggested {font-weight: bold;}
     /*Display compatible navigation bar*/
     #NavSmall {
        display: none;
        padding-top: 1vh;
    }
    #NavLarge {
        display: block;
        padding-top: 15px;
    }
    #cate {font-size: 80%;}
    .navbar {
        height: 60px;
    }
    /* padding for objects */
    .container-fluid {
        padding-left: 5vw;
        padding-right: 5vw;
    }
     /* Social Media CSS */
     .fa {
        font-size: 91%;
    }
    .nav {
        margin: 0;
        position: absolute;
        top: 30%;
        left: 70%;
        transform: translate(0, -50%);
    }
    /*Paragraph in the content*/
    #cont {font-size: 84%; line-height: 35px;}
    
     /* Footer */
     #Footer {background-color: #0f4200; height: 120px; line-height: 20px;}
    #word1 {color: white; font-size: 100%; padding-top: 25px;}
    #word {color: white; font-size: 90%;}
    }

    /*Extra small tablet <576px  --------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 576px) {
     /*Things in the header */
     #Logo {width: 78px; height: 56px;}
     .pad {padding-left: 4vw;}
     #Header {height: 70px;}
     .large {display: none;}
    /* Font for all */
    .col-lg-8 {line-height: 35px; font-size: 150%;}
    /* Navbar */
    .dropdown-menu > a:hover {color: #7cc400; background-color: pink;}
    .dropdown-toggle {background-color: #7cc400;}
    #NAV {font-size: 150%; font-family: Category;}
    /* Main Head for Section */
    .lead {font-weight: bold; text-align: center; font-size: 76%;}
    .mt-4 {font-weight: bold; font-size: 88%;}
    #suggested {font-weight: bold;}
     /*Display compatible navigation bar*/
     #NavSmall {
        display: block;
    }
    #NavLarge {
        display: none;
        padding-top: 1vh;
    }
    .navbar {
        height: 60px;
    }
    /* Social Media CSS */
    .fa {
        font-size: 100%;
    }
    /*Paragraph in the content*/
    #cont {font-size: 38%; line-height: 19px;}
    
    /* Footer */
    #Footer {background-color: #0f4200; height: 100px; line-height: 15px;}
    #word1 {color: white; font-size: 100%; padding-top: 25px;}
    #word {color: white; font-size: 100%;}
    }